div.card {
	height: 150px;
	width: 150px;
	background-color: lightblue;
}

#grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

#displayedCardsGrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 15px 0px;
	height: 500px;
	overflow-y: scroll;
}
