* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	padding: 0;
	font-family: sans-serif;
}

/* first part  */


#set-logo-container {
	margin-top: 5vh;
	text-align: center;
}

img#logo {
	width: 45vw;
	height: 45vh;
}

button {
	background: #c1ad42;
	border: none;
	width: 30vw;
	height: 6vh;
	font-size: 1.5vw;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	transition: 0.2s;
	cursor: pointer;
	outline: none;
}

button:hover {
	transform: scale(1.01);
}

.bottom_button {
	position: absolute;
	left: 35vw;
	bottom: 5vh;
	
}

/* second part  */

h1 {
	top: 5vh;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 3vw;
	color: #c1ad42;
}

ul {
	list-style: none;
	padding: 0;
}

#addPlayersList {
	font-size: 1.5vw;
	height: 25vh;
	overflow-y: scroll;
}

#addPlayersList li {
	margin-bottom: 1vh;
}

#addPlayersStage {
	text-align: center;
}

#addPlayersInput {
	width: 27vw;
	height: 6vh;
	font-size: 1.5vw;
	margin-top: 5vh;
	padding-left: 1vw;
	font-style: normal;
	font-weight: normal;
	border: 1px solid #c1ad42;
}

#add_button {
	margin-top: 5vh;
}

/* third part  */

div.card {
	width: 15vw;
	height: 20vh;
	text-align: center;
	display: flex;
	outline: 1px solid #000000;
}

div.card img {
	margin: auto;
	width: 100%;
	height: 100%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin-bottom: 1%;
}

#displayedCardsGrid {
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 1vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1vw;
	height: 70vh;
	width: 67vw;
	margin-left: 3vw;
	border: 1px solid #c1ad42;
}

#scoreboard {
	width: 20vw;
	height: 45vh;
	background: #ffffff;
	border: 1px solid #c1ad42;
	box-sizing: border-box;
	/* font  */
	font-style: normal;
	font-weight: normal;
	font-size: 1.5vw;
	line-height: 4vh;
	text-align: center;
	color: #c1ad42;
	overflow-y: scroll;
	overflow-x: scroll;
}

#addMoreCardsButton {
	width: 20vw;
	background: #ffffff;
	border: 1px solid #c1ad42;
	box-sizing: border-box;
	text-align: center;
	color: #c1ad42;
	margin-top: 10vh;
}

#submitSetButton {
	margin-top: 3vh;
	width: 20vw;
}
